@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}